

body {
    background-color: rgb(19, 19, 19);
}

#title {
    font-family: sans-serif;
    text-align: center;
    color: lightgrey;
}

h1 {
    margin-top: 10;
    margin-bottom: 0;
    text-decoration: underline;
}

h4, h3, p, ul {
    margin-top: 0;
    margin-bottom: 0;
    font-family: sans-serif;
    color: lightgrey;
}

hr {
    background-color: grey;
    height: 1px;
    border: none;
}

#info, #title {
    margin-left: 15%;
    margin-right: 15%;
}

a {
    color: lightgrey;
}